# editor artifacts
.vscode/

# backups
.backup/

# Build artifacts
/build

# runtime files
/timings/logs/*.log
/elasticsearch/data
/elasticsearch/logs/*.json
/elasticsearch/logs/*.log
/kibana/logs/*.log
/timings/config/.config.js

# elasticsearch data
upgrade/data*/**/*